/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

nav ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

li {
  list-style: none
}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  /*描画固定*/
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #070A31;
  /*背景色*/
}



#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;
  /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}

.fadeinOmikuji{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
  animation: fadeOut 8s forwards;
  z-index: 9999;
}

/* ---- CSS ---- */
.mgT16 {
  margin-top: 24px;
}

/* ゆっくり表示 */
@keyframes textanime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ゆっくり消える */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.textContainer {
  margin-top: -200px;
}

.text {
  font-family: serif;
  font-size: 20px;
  line-height: 200%;
  z-index: 100;
  animation-name: textanime;
  /*keyname*/
  animation-duration: 5s;
  /*最大再生時間*/
  animation-iteration-count: initial
    /*繰り返しなし*/
}

.lergeText {
  font-family: serif;
  font-size: 40px;
  line-height: 200%;
  z-index: 100;
}

.staticText {
  font-family: serif;
  font-size: 20px;
  line-height: 200%;
  z-index: 100;
}

.golden{
  font-weight: 900;
  background: linear-gradient(104deg, #D0A900 -7.35%, #FFF9E6 0.33%, #D2AD0C 17.1%, #F8EEC5 26.19%, #D7B420 33.87%, #D0A900 33.89%, #EFDE99 49.25%, #D0A900 52.74%, #F0D780 63.92%, #D0A900 68.11%, #F8EEC6 79.29%, #D4B015 87.68%, #F4E6AF 92.57%, #D9B82C 104.45%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* 次へボタン */
.nextBtn {
  color: #ffffffc4;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 100vh;
  width: max-content;
  font-weight: 700;
  line-height: 1.5;
  position: fixed;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 1rem 4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1em;
}

/* メニューボタン */
.menuBtn {
  color: #ffffffc4;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 100vh;
  width: 50%;
  font-weight: 700;
  line-height: 1.5;
  position: fixed;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 1rem 4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1em;
}

.omikujiBtn{
  border: none;
  font-size: 1rem;
}

/* ボタンの位置 */
/* 上 */
.locateTop {
  bottom: 25%;
}

/* 中上 */
.locateMiddleTop {
  bottom: 20%;
}

/* 中 */
.locateMiddle {
  bottom: 15%;
}

/* 中下 */
.locateMiddleBottom {
  bottom: 10%;
}

/* 下 */
.locateBottom {
  bottom: 5%;
}


/* 5秒後表示 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.lateOpen {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 5s;
}

/* 喜びウサギ画像 */
.plesureRabbit {
  width: 140px;
  height: 140px;
  position: fixed;
  left: 5%;
  top: 3%;
}

/* 月ウサギ画像 */
.moonRabbit {
  width: 140px;
  height: 140px;
  position: fixed;
  left: 5%;
  top: 5%;
}

/* 花火用 */
.fireWorks{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: -5;
}

.star{
  color:#ffd518
}

.menuSVG{
  top: 140px;
}